ul {
  padding-left: 0;
}
ul > li {
  list-style-type: none;
}

.custom-saying {
  margin-bottom: 40px;
  line-height: 1.5;
}

.custom-heading {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.custom-text-area {
  height: 200px;
}

.custom-danger-wrapper {
  margin-top: 8px;
}

.custom-btn-wrapper {
  margin-top: 16px;
  margin-bottom: 40px;
  text-align: center;
}
.custom-btn-wrapper.type-02 {
  margin-bottom: 20px;
}

.custom-today-study-record {
  margin-bottom: 40px;
}
.custom-today-study-record > ul > li ion-card-title {
  font-size: 20px;
  font-weight: 400;
}

.custom-today-study-time {
  padding-bottom: 50px;
}

.custom-progress-desc {
  margin-top: 6px;
}
.custom-progress-desc .custom-interval {
  margin: 0 5px;
}

.custom-celebrate-wrapper {
  margin-bottom: 14px;
}
.custom-date-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.custom-no-record {
  display: flex;
  align-items: center;
  gap: 4px;
}
.custom-no-record ion-icon {
  font-size: 30px;
}
