@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 500;
}

body * {
  font-family: "Noto Sans KR";
  font-weight: 400;
}

ul {
  padding-left: 0;
}
ul > li {
  list-style-type: none;
}

.custom-saying {
  line-height: 1.5;
  margin-bottom: 50px;
}

.custom-heading {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 16px;
}
.custom-heading.no-margin {
  margin-bottom: 0;
}

.custom-text-area {
  height: 200px;
}

.custom-danger-wrapper {
  margin-top: 8px;
}

.custom-btn-wrapper {
  margin-top: 16px;
  margin-bottom: 50px;
  text-align: center;
}
.custom-btn-wrapper.type-02 {
  margin-bottom: 20px;
}

.custom-today-study-record {
  margin-bottom: 50px;
}
.custom-today-study-record.more-margin {
  margin-bottom: 70px;
}
.custom-today-study-record > ul > li ion-card-title {
  font-size: 20px;
  font-weight: 400;
}

.custom-today-study-time {
  padding-bottom: 70px;
}

.custom-progress-desc {
  margin-top: 6px;
}
.custom-progress-desc .custom-interval {
  margin: 0 5px;
}

.custom-celebrate-wrapper {
  margin-bottom: 14px;
}
.custom-date-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.custom-no-record {
  display: flex;
  align-items: center;
  gap: 4px;
}
.custom-no-record ion-icon {
  font-size: 30px;
}

.custom-average {
  margin-bottom: 70px;
}

.custom-average .custom-title {
  font-weight: 500;
  margin-right: 5px;
}

.custom-time {
  font-weight: 500;
}
